/* Estilos globales */

html {
  font-size: 62.5%; /* RESET DE REM 62.5% = 10px siendo 16px la base*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/* Header */

.site-header.inicio {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

/* Navegación */

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.navegacion a:hover {
  color: #71b100;
}

.navegacion a:last-of-type {
  margin-right: 0;
}
